interface {
  {% for interface in device.interfaces %}
  interface {{ interface.name }} unit 0 {
    ip address {{ interface.ipv4 }}/31
    ipv6 address {{ interface.ipv6 }}/64
  }
  {% endfor %}
}




