no service timestamps log datetime msec
no service timestamps debug datetime msec
no service password-encryption
!
hostname {{ device.name }}
!
enable secret 5 ENABLESECRET
!
!
ip cef
no ipv6 cef
!
!  {% for user in device.users %}
username {{ user.name }} privilege 15 password 0 {{ user.password }}
! 
ip ssh pubkey-chain
    username {{ user.name }}
    key-string
        {{ user.public_key }}
    exit
! {% endfor %}
!
ip ssh version 2
ip domain-name {{ device.domain }}
!
!
spanning-tree mode pvst
!
!
! {% for interface in device.interfaces %}
interface {{ interface.port }}
    description {{ interface.name }}
    ip address {{ interface.ipv4 }} 255.255.255.224
    ipv6 address {{ interface.ipv6 }}/64
     ip verify unicast source reachable-via any
    no shutdown
! {% endfor %}
!
interface Vlan1
    no ip address
    shutdown
!
ip classless
!
ip flow-export version 9
!
!
ip access-list extended alchemy_list  {% for manager in managementaddress %}
    description {{ manager.name }}
    permit tcp host {{ manager.ip_address }} any eq telnet  {% endfor %}
    deny tcp any any eq telnet
    permit ip any any
!
!
!
line con 0
    password alchemy
    login
!
line aux 0
!
line vty 0 4
    password alchemy
    login
    transport input ssh
line vty 5 15
    password alchemy
    login
    transport input ssh
!
!
!
end